body {
    background-color: rgb(159, 126, 126);
    color: white;
    position: relative;
    word-break: keep-all;
    height: 100vh;

    section {
        max-width: 1500px;
        width: 100%;
        margin: 0px auto;
    }
}